.login-img{
    height: 150px;
}
.login-title-form{
    text-align: center;
}

.div{
    display: flex;
    justify-content: center;
}
.add-icone{
    border-radius: 100%;
    padding: 10px;
    background-color: #eff2f4;
    margin-top: 4px;
    z-index: 2;
    position: relative;
    // color: #3a29a8;
    font-size: 40px;
 }
 .resume-cat{
    border-radius: 10px;
  }
  .cat-info{
    display: flex;
    // justify-content: space-between;
  }
  .resume-cat{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 5px;
    border-radius: 20px;
  }