
<ion-content class="content" style="--ion-background-color:#dad1d1;" (ionScroll)="onScroll()">
    <ion-header class="header-home">
        <ion-row >
          <ion-col size="auto">
              <img src="../../assets/img/profile.svg" class="profile" style="color:white; background-color: rgb(0, 0, 0);" alt="sac">
          </ion-col>
          <ion-col size="auto">
            <span style="color: black;"> Welcome </span><br>
            <span style="font-size: 20px; font-weight: bold; color: black;" class="user-dispalyName">{{name}}</span>
          </ion-col>
          <ion-col  style="margin-left: 50%;">
            <ion-icon class="icon-setting" id="open-modal" style="color: black;" name="settings"></ion-icon>
          </ion-col>
        </ion-row>
       
    </ion-header>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <swiper-container autoplay="500" loop="true" >
      <swiper-slide>
        <ion-card   style=" height: 200px;"  class="principal-card">
          <ion-icon *ngIf="showExpend" name="eye-outline" style="margin-left: 90%; color: #ffffff; height: 30px;width: 30px;" item-right (click)="showExpend = !showExpend"></ion-icon>
          <ion-icon *ngIf="!showExpend"  style="margin-left: 90%; color: #ffffff; height: 30px;width: 30px;"  (click)="showExpend = !showExpend" name="eye-off"></ion-icon>
          <ion-card-header>
            <ion-card-title style="text-align: center;"*ngIf="showExpend" >****** Fcfa</ion-card-title>
            <ion-card-title style="text-align: center;" *ngIf="!showExpend">{{expendForBesoin+expendForLoisir+expendForembourssement}} Fcfa</ion-card-title>
            <br>
            <ion-card-subtitle style="color: #ffff; text-align: center;"> Total des depenses</ion-card-subtitle>
          </ion-card-header>
        <ion-card-content style="color: #ffffff; float: right;"><br><span>ExPdCard</span></ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide  style="height: 250px; padding-left: 20%;">
        <canvas #chart ></canvas>
      </swiper-slide>
    </swiper-container>
           
   
    <div class="div" style="display: flex ; justify-content: space-between; margin-inline: 10px;">
        <h4 style="color: #000000;"> Categories</h4>
        <h4><a href="http://">view all</a></h4> 
    </div>
   <div class="card" >
    <ion-card (click)="details('Besoin')" class="resume-cat" style="background-color: #ffffff;"  >
     
         <div class="cat-info">
            <img src="../../assets/img/food.svg" class="add-icone" style="color:white; background-color: rgb(5, 159, 54);" alt="sac">
            <ion-card-content style="margin: 0; color: rgb(0, 0, 0); font-weight: bold;"> Besoin </ion-card-content>
        </div>
        <div class="expend-cat" >
          <h5 style="color: rgb(0, 0, 0); font-weight: 300;"></h5>
          <span style="font-weight: lighter; color: rgb(0, 0, 0);" ></span>
        </div>
    </ion-card>
   </div>
   <div class="card" >
    <ion-card class="resume-cat" (click)="details('Envie-Loisir')" style="background-color: #ffffff;" >
      <div class="cat-info">
          <img src="../../assets/img/car.svg" class="add-icone" style="color:white; background-color: rgb(18, 5, 159);" alt="sac">
          <ion-card-content style="margin: 0; color: rgb(0, 0, 0); font-weight: bold;"> Envie </ion-card-content>
      </div>
      <div class="expend-cat">
        <h5 style="color: rgb(0, 0, 0); font-weight: 300;"></h5>
        <span style="font-weight: lighter; color: rgb(0, 0, 0);" ></span>
      </div>
    </ion-card>
   </div>
   
   <div class="card" >
      <ion-card class="resume-cat" (click)="details('Epargne-Rembourssement')" style="background-color: #ffffff;" >
        <div class="cat-info">
            <img src="../../assets/img/hopital.svg" class="add-icone" style="color:white; background-color: rgb(229, 11, 11);" alt="sac">
            <ion-card-content style="margin: 0; color: rgb(0, 0, 0); font-weight: bold;"> Epargne / Rembourssement </ion-card-content>
        </div>
        <div class="expend-cat">
          <h5 style="color: rgb(0, 0, 0); font-weight: 300;"></h5>
          <span style="font-weight: lighter; color: rgb(0, 0, 0);" ></span>
        </div>
    </ion-card>
   </div>


    
</ion-content>




<ion-footer #footer [class.hidden]="isFooterHidden">
  
    <div class="appBottomMenu">
      <div class="archive">
        <a (click)="archive()">
          <ion-icon slot="start" class="icon-archive" name="archive"></ion-icon>
        </a>
        
      </div>
      <div class="add" style="height: 30px;margin-bottom:50px ;">
        <a  class="success items"  >
          <ion-icon slot="start" (click)="addExpend()" class="add-icon" name="add"></ion-icon>
        </a>
      </div>
      <div class="logout"> 
        <a (click)="logout()" >
          <ion-icon slot="start" class="icon-logout" name="log-out"></ion-icon>
        </a>
      </div>
      
     
    </div>

</ion-footer>
<ion-modal trigger="open-modal" style="--ion-background-color:#dad1d1;" >
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Parametre</ion-title>
          
      </ion-toolbar>
    </ion-header>
    <ion-icon class="icon-setting" id="open-modal" style="color: black; margin-left: 90%; margin-top: 20px;" name="ellipsis-horizontal-outline"></ion-icon>

    <!-- <ion-card>
      <ion-card-content>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card> -->
  </ng-template>
</ion-modal>

